---
ci:
  autoupdate_schedule: monthly

repos:
  - repo: https://github.com/ansible/ansible-lint
    rev: v26.1.1
    hooks:
      - id: ansible-lint
        language_version: python3.14
        name: ansible-lint
        args: [--fix]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        types: [yaml]

  - repo: "https://github.com/astral-sh/uv-pre-commit"
    rev: 0.9.27
    hooks:
      - id: uv-lock
        name: Update uv.lock
