Host *
    AddKeysToAgent yes
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/github_id_ed25519
    IdentitiesOnly yes
Host gitverse.ru
    HostName gitverse.ru
    User git
    IdentityFile ~/.ssh/gitverse_id_ed25519
    IdentitiesOnly yes
{% if ssh_client_vds_host | length > 0 %}
Host {{ ssh_client_vds_host }}
    User {{ ssh_client_vds_user }}
    IdentityFile {{ ssh_client_vds_identity_file }}
    IdentitiesOnly yes
    ForwardAgent yes
{% endif %}
